<!-- Rmit University Vietnam
Course: COSC2430 Web Programming
Semester: 2024A
Author: Nhan, Thinh, Duy, Khang, An
ID: s3975356,s3992133, s3986546, s3979209, s4012479   -->

<%- include('partials/header') %> 
    <body>
    <%- include('partials/nav') %>

    <h1>Search Results</h1>
    <% if (products.length > 0) { %>
    <ul>
        <% products.forEach(function(product) { %>
        <li><%= product.name %> - $<%= product.price %></li>
        <% }) %>
    </ul>
    <% } 
    
    <%- include('partials/footer') %>
  </body>
</html>